.container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    height: 100px;
    background-color: grey;
    margin-bottom: 10px;
}

.selection {
    display: flex;

}

.selection > div {

    height: 150px;
    width: 150px;
    border: solid;
}