@import url('http://fonts.cdnfonts.com/css/60s-scoreboard');
@import url('http://fonts.cdnfonts.com/css/sf-pixelate');

                

/* Base of the website */

html {
    background-color: #A1A0C5;
    box-sizing: border-box;
    font-family:'SF Pixelate','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    height: 100px;
    margin-bottom: 10px;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Scoreboard styles */

.scoreboard {
    font-family: "60s Scoreboard", sans-serif;
    color: orange;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.score, #score-separator {
    font-size: 80px;
}

/* status text styles */

.last-round-result {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Rock Paper Scissors */

.selection {
    display: flex;
    flex: 2;
    justify-content: center;
}

.selection-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    image-rendering: pixelated;
}

#rock, #paper, #scissors {
    width: 150px;
    height: auto;
    margin: 20px 45px 20px 45px;
    padding: 25px;
    border: solid 5px black;
}